Book2Audio Pro.json
{
  "name": "Book2Audio Pro",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        112,
        -128
      ],
      "id": "80fd6739-afbd-4874-a37d-a5f35b26433a",
      "name": "Loop Over Items",
      "executeOnce": false
    },
    {
      "parameters": {
        "name": "={{ $('Loop Over Items').item.json.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Loop Over Items').item.json.id }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        560,
        -128
      ],
      "id": "3c5a1477-d51b-4934-91f0-cae1f52120fd",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "N9lgEKfNh0EXdgUO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Book Pdf Upload').item.json[\"Book pdf\"][0].filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -336,
        -224
      ],
      "id": "6a12f645-c71d-4d82-8fcb-8e8016f442fd",
      "name": "Create folder",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "N9lgEKfNh0EXdgUO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT \n    i2.*,\n    i1.*\nFROM input2 i2\nCROSS JOIN input1 i1;",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -112,
        -128
      ],
      "id": "9c7f6ee5-eab2-40b1-a4af-6dca24433cb5",
      "name": "Merge"
    },
    {
      "parameters": {
        "formTitle": "Turn your Book into Audio",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Book pdf",
              "fieldType": "file",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -784,
        -128
      ],
      "id": "ecb774bc-4e40-43ef-84b4-4aaec7688f6c",
      "name": "Book Pdf Upload",
      "webhookId": "d5e2e1e7-0aa5-41fa-b0e9-5ddd1c205ea4"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=Book_pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -560,
        -32
      ],
      "id": "51f64354-517a-4614-b7c7-c55a3f9fa416",
      "name": "Extract Book Content"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function Node – Chapters + Auto-Chunking for OpenAI TTS\n// Supports chapter structure from your extracted text\n\nconst item = $input.item;\nlet text = item.json.text || item.json.extractedText || \"\";\n\ntext = text.replace(/\\r\\n/g, \"\\n\");\n\n// -----------------------------------------------\n// REMOVE TABLE OF CONTENTS (using CHAPTER I anchor)\n// -----------------------------------------------\nconst firstChapterIndex = text.search(/^CHAPTER\\s+I\\./m);\nif (firstChapterIndex !== -1) {\n    text = text.slice(firstChapterIndex);\n}\n\n// -----------------------------------------------\n// DETECT REAL CHAPTER HEADINGS\n// -----------------------------------------------\nconst chapterRegex = /^CHAPTER\\s+([IVXLCDM]+)\\.\\s*$/gm;\n\nlet matches = [];\nlet match;\n\nwhile ((match = chapterRegex.exec(text)) !== null) {\n    matches.push({ index: match.index, numeral: match[1] });\n}\n\nif (matches.length === 0) {\n    throw new Error(\"No chapters found.\");\n}\n\n// Helper for filenames\nfunction slugify(str) {\n    return str\n        .toLowerCase()\n        .replace(/[^a-z0-9]+/g, \"-\")\n        .replace(/^-+|-+$/g, \"\")\n        .slice(0, 40);\n}\n\nfunction pad(n) {\n    return n < 10 ? \"0\" + n : \"\" + n;\n}\n\n// -----------------------------------------------\n// BUILD CHAPTERS\n// -----------------------------------------------\nlet chapters = [];\n\nfor (let i = 0; i < matches.length; i++) {\n    const start = matches[i].index;\n    const end = (i + 1 < matches.length) ? matches[i + 1].index : text.length;\n\n    const chunk = text.slice(start, end).trim();\n    const lines = chunk.split(\"\\n\").filter(l => l.trim() !== \"\");\n\n    const title = lines[1] || `Chapter ${i+1}`;\n\n    chapters.push({\n        chapterNumber: i + 1,\n        chapterTitle: title.trim(),\n        chapterText: chunk\n    });\n}\n\n// -----------------------------------------------\n// SPLIT EACH CHAPTER INTO SAFE CHUNKS (≤ 3900 chars)\n// We use 3900 so we never hit the 4096 limit\n// -----------------------------------------------\nconst MAX_CHARS = 3900;\nlet output = [];\n\nfor (const c of chapters) {\n    const text = c.chapterText;\n    let pos = 0;\n    let part = 1;\n\n    while (pos < text.length) {\n        // Suggested end of chunk\n        let end = pos + MAX_CHARS;\n\n        if (end < text.length) {\n            // Try to end on a sentence boundary\n            const lastPeriod = text.lastIndexOf(\".\", end);\n            if (lastPeriod > pos + 100) {\n                end = lastPeriod + 1;\n            }\n        } else {\n            end = text.length;\n        }\n\n        const chunkText = text.slice(pos, end).trim();\n\n        output.push({\n            json: {\n                chapter: c.chapterNumber,\n                part: part,\n                title: c.chapterTitle,\n                text: chunkText,\n                filename: `chapter-${pad(c.chapterNumber)}-part-${pad(part)}-${slugify(c.chapterTitle)}.mp3`\n            }\n        });\n\n        pos = end;\n        part++;\n    }\n}\n\n// Return all chunks as items\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        -32
      ],
      "id": "40161bbf-4630-41bd-a047-705d108040e9",
      "name": "Structure The Content"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.text }}",
        "options": {
          "speed": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        336,
        -192
      ],
      "id": "23262297-4b4d-47e6-b026-f566c0207941",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "9EKNwHHfnhvFtLr7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Book2Audio Pro",
        "height": 608,
        "width": 1664,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        -384
      ],
      "typeVersion": 1,
      "id": "c9340557-2ff8-4e9f-aca8-b08697814844",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Book Pdf Upload": {
      "main": [
        [
          {
            "node": "Extract Book Content",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Book Content": {
      "main": [
        [
          {
            "node": "Structure The Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure The Content": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8c2c7dac-5557-49e4-93f6-13fe81644c00",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4764540811cbb8d2e1efff249fe019f120efdfc1d1ad5d0e40382bf91ca0b3dc"
  },
  "id": "zL1C61fbjCDWSyEN",
  "tags": []
}